body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
}

h1 {
  margin: 20px 0;
  color: #333;
}

#map {
  width: 80%;
  height: 500px;
  border: 2px solid #333;
  border-radius: 10px;
}

.top-nav {
  position: fixed;
  top: 20px;
  right: 0px;
  z-index: 1000;
}

.nav-dots {
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 15px;
  display: flex;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.dot {
  min-width: 70px;
  height: 35px;
  border-radius: 20px;
  background-color: #ccc;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  text-decoration: none; 
  left: 90%
}

.dot:hover {
  background-color: #999;
}

.dot.active {
  background-color: #000;
  color: #fff;
}

/* --- Responsive Navbar --- */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

/* Mobile behavior */
@media (max-width: 700px) {
  .nav-dots {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    width: 150px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }

  .nav-dots.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .dot {
    width: 100%;
    justify-content: flex-start;
    padding-left: 15px;
  }
}

footer {
  margin-top: 30px;

  text-align: center;
  padding: 40px 0;    
}

.contact-btn {
  display: inline-block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 20px 30px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #000;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none; /
}
  


.contact-btn:hover {
  background-color: #bfbfbf;
  transform: scale(1.05);
}

